* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}



.chat-room {
    background:#54df67;
    color: beige;

    height: 650px;

}

.room-img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    padding: 2px;
    margin: 5px;
}



input {
    border-radius: 10px;
    padding: 5px;
}

.chat {
    height: 1000px;
    background: #4CAF50;


}


/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.chat-container {
    width: 400px;
    height: 650px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    background: #4CAF50;
    width: 100%;

    color: #fff;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}





.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 75%;
    word-wrap: break-word;
}



.message.user {
    background: #8dce37;
    align-self: flex-end;
}

.time {

    background: #8dce37;
    align-self: flex-end;
    text-align: end;
    text-size-adjust: initial;

}

.request-user {


    background: #8dce37;

    overflow: hidden;
    text-align: end;
    text-shadow: #dcf8c6;


}

/* .message.bot {
    background: #f1f0f0;
    align-self: flex-start;
} */

.chat-input {
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background: #45a049;
}

.serach-btn {
    background-color: #4CAF50;
    padding: 5px;
    border-radius: 10px;

}

a.a-tag {
    text-decoration: none;
    color: #fff;
    height: 200px;
}

.search-room {
    background-color: bl;
}



h4.user-msg {

    align-items: center;
    justify-content: center;

}

.card-img{
    width: 20px;
    height: 20px;
}

.navbar-room{
    background-color: rgb(238, 136, 4);
}

.nav{
    background-color: #8dce37;
}
.room-card{
    background-color: #8dce37;
}

.room-name{
    color: #de1111;
    align-items: center;
    justify-content: center;
    
}

.room-card{
    background-color: #54df67;
    align-items: center;
    justify-content: center;
    margin: 20%;

}
label{
    width: 200px;
    text-align: start;
}

.create-btn{
    width: 100px;
    background-color: #45a049;
    border-radius: 10px;
    height: 40px;
    margin-left: 150px;
    margin-top: 50px;
}


.side -bar{
    background-color: aquamarine;
    color: #de1111;
}
.main-room-img{

    width: 10%;
    height: 10%;
    

}
button.login-btn{
    border-radius: 5px;
    background-color: #54df67;
    
}

.signup-btn{
    background-color: #54df67;
    border-radius: 10px;
}
