{% extends "index.html" %}

{% block login %}

<div class=" container-fluid">
    <div class="row d-flex">
   <form action="" method="POST" class=""> {% csrf_token %}
    <div class="login-main p-3 shadow col-md-6  m-5">
        <h4 class="m-5">login</h4>
        {% include "messages.html" %}
        <div class="m-3">
            <label for="">user name</label>
            <input type="text" name="username" id="" placeholder="enter user name">
        </div>
        <div class="m-3">
            <label for="">password</label>
            <input type="password" name="pass1" id=""  placeholder="enter password">
        </div>
       

        <div class="login-btn d-flex p-5">
            <button class="login-btn  " type="submit">login</button>
        </div>

    </div>
   </form>
    </div>
</div>
  
{% endblock login %}

